/* Universal */
* {
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.uni-heading {
    color: #272727;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
}

.uni-heading-text {
    color: rgba(39, 39, 39, 0.60);
    margin: 10px auto;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    width: 50%;
}

.banner {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 0px 100px;
    justify-content: space-between;
    align-items: center;
}

.banner-section {
    width: 50%;
}

.banner-section h2 {
    color: #272727;
    font-size: 60px;
    font-weight: 800;
}

.banner-section p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0px;
}

.banner-section button {
    padding: 15px 25px;
    border-radius: 8px;
    background: #E55473;
    border: none;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
}

.banner img {
    width: 350px;
    height: 430px;
    margin-top: 50px;
}

/* Our Featured Flowers Section */
.featured-section {
    padding: 100px;
}

.featured-images {
    display: flex;
}

.img-box-container {
    width: 33%;
    margin-top: 30px;
}

.flower-name {
    margin-top: 20px;
    text-decoration: underline;
    color: #272727;
    text-align: center;
}

.img-box {
    height: 400px;
    margin: 0px 10px;
    display: flex;
    align-items: end;
    justify-content: center;
    border-radius: 140px 140px 0px 0px;
}

.img-box img {
    width: 80%;

}


.services {
    margin: 0px 100px;
    background-color: rgba(39, 39, 39, 0.05);
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.services .iocn-section {
    text-align: center;
}

.iocn-section img {
    width: 60px;
    margin-bottom: 20px;
}

.iocn-section p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 15px;
}

/* Sale Section */

.sale {
    background-color: rgba(229, 84, 115, 0.10);
    display: flex;
    padding: 50px 100px;
    margin: 100px 0px;
    align-items: center;
    justify-content: space-around;
}

.sale-text {
    width: 50%;
    text-align: center;
}

.sale-text h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.off-text {
    color: #E55473;
}

.sale-text p {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    margin: 20px 0px;
}

.sale-text button {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #E55473;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.sale img {
    width: 30%;
}

/* Instagram Section */

.instagram {
    margin: 0px 100px;
}

.insta-images {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.insta-images img{
    width: 24%;
}

/* Get The Latest Deals */

.latest-deal{
    margin: 100px;
    border-radius: 5px;
    text-align: center;
    background-image: url('../Flower Asset/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
}

.latest-deal form{
    margin-top: 25px;
}
.latest-deal form input[type="email"]{
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    width: 500px;
    margin-right: 5px;
}

.latest-deal form input[type="submit"]{
    font-size: 15px;
    font-weight: 800;
    padding: 15px 25px;
    color: #fff;
    background-color: #E55473;
    border-radius: 10px;
    border: none;
}

.footer{
    background-color: #111010;
    text-align: center;
    padding: 60px;
}
.footer-pink{
    color: #E55473;
}
.footer h3{
    color: #fff;
    font-weight: 800;
    font-size: 35px;
}
.footer p{
    color: #fff;
    margin: 20px;
}
.footer small{
    color: rgba(255, 255, 255, 0.40);
}